
#page-home {
    background-position: 38vw;
    height: 100vh;
}

#page-home .content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;

    display: flex;
    flex-direction: column;

}

#page-home header {
    margin-top: 48px;
    display: flex;
    align-items: center;
}

#page-home header img:first-child {
    width: 96px;
    height: 96px;
}

#page-home header .header-logo {
    display: flex;
    align-items: center;
    margin: 0 auto;

}

#page-home header .header-logo h1 {
    margin-left: 24px;
    font-weight: normal;
    font-size: 40px;
    color: var(--title-color);
}

#page-home main{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* posiciona no meio do height logo após o header */
}

#page-home main .main-content {
    margin-top: 64px;
    min-height: 150px;
    max-height: 450px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    position: relative;
}

#page-home main .main-content .main-text {
    min-width: 400px;
    position: relative;
}

#page-home main .main-content h1{
    max-width: 460px;
    font-size: 38px;
    color: var(--primary-color);
}

#page-home main p{
    max-width: 460px;
    font-size: 24px;
    line-height: 34px;
    margin-top: 24px;
    color: var(--primary-color);
}

#page-home main .main-content .main-text p:last-child{
    color: var(--title-color);
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
}

/* Switch button dark mode */

#page-home header .switch {
    position: absolute;
    right: 6vw;
    margin-left: 24px;
    padding-left: 36px;
    display: flex;
    align-items: center;
    position: relative;
    width: 40px;
    height: 24px;
}

#page-home header .switch img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
    margin-left: 8px;
}
#page-home header .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#page-home header .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

#page-home header .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#page-home header input:checked + .slider {
    background-color: #2196F3;
}
  
#page-home header input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
#page-home header input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}
  
  /* Rounded sliders */
#page-home header .slider.round {
    border-radius: 34px;
}
  
#page-home header .slider.round:before {
    border-radius: 50%;
}

#page-home hr {
    border: 1px solid var(--title-color);
    border-radius: 2px;
    width: 800px;
    margin: 64px auto;
}

/* SECOND CONTENT */

.second-content {
    margin: 32px auto;
    height: 250px;
}

.second-content .what-donate {
    width: 270px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.second-content .what-donate h2 {
    font-size: 36px;
    margin: auto auto;
    color: var(--primary-color);
    margin-left: 16px;
}

.second-content .what-donate img{
    height: 80px;
    width: 80px;
    color: blue;
}

.second-content .donations {
    margin-top: 64px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.second-content .donations h3 {
    color: var(--primary-color);
    font-size: 28px;
}

.second-content .donations img{
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 auto;
}

/* COLLECT POINTS */

.content-maps {
    margin: 32px auto;
    height: 750px;
}

.content-maps .search-donate-point {
    width: 470px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.content-maps .search-donate-point h2 {
    font-size: 48px;
    color: var(--primary-color);
    text-align: center;
    margin: auto auto;
}

.content-maps .search-donate-point img {
    height: 92px;
    width: 92px;
}

#map {
    height: 500px;
    width: 100%;
}