:root{
    --title-color: #3797FE;
    --primary-color: #383838;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Rasa', serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Rasa', serif;
    color: var(--title-color);
}

/* Dark Mode */

.dark-mode {
    background-color: #1f1f1f;
    color: white;
}

.dark-mode h1 {
    color: #4d3e6b;
}

.dark-mode #page-home header a {
    color: #4d3e6b;
}