:root{
    --title-color: #3797FE;
    --primary-color: #383838;
    --images-color: #007BFF;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Rasa', serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Rasa', serif;
    color: var(--title-color);
}

/* Dark Mode */

.dark-mode {
    background-color: #1f1f1f;
    color: white;
}

.dark-mode #page-home main .main-content h1,
.dark-mode #page-home main .main-content p,
.dark-mode .second-content .what-donate h2,
.dark-mode .second-content .donations h3,
.dark-mode .content-maps .search-donate-point h2{
    color: #f0f0f5;
}
